@import "./variables";

*,
body {
  box-sizing: border-box;
  margin: 0;
}

li,
a {
  text-decoration: none;
}

table {
  border-collapse: collaose;
}

.nav-container {
  width: 100%;
  background: $bg-ivory;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 14px 87px 0px 87px;
}

.logo-box {
  width: 168px;
  height: 109px;

  img {
    width: 100%;
    height: 100%;
  }
}

.nav-box {
  display: flex;
  align-items: center;

  width: 904px;
  height: 57px;
  padding: 13px;

  background: white;
  border-radius: 50px;
  border: 1px solid $border-gold;
}

.nav-item {
  display: inline-block;
  width: 25%;
  height: 41px;

  line-height: 41px;
  text-align: center;
  vertical-align: middle;

  font-size: 20px;
  color: black;

  border-radius: 50px;
  //min-width: 200px;

  &:hover {
    border: 2px solid $border-gold;
  }
}

.signup-btn {
  width: 120px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  padding-top: 2px;
  background: $border-yellow;
  border: 1px solid $border-gold;

  &:hover {
    background: white;
  }

  a {
    color: black;
  }
}
