@import "./variables";

// reset
*,
body {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: linear-gradient($bg-ivory 50%, #ffffff);
  background-repeat: no-repeat;
}

li,
a {
  text-decoration: none;
}

table {
  border-collapse: collaose;
}

// home
.home-container {
  height: 100vh;
  width: 1300px;
  margin: auto;

  .calendar-info {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    //padding: 50px 70px;
  }
}

.home-login-box {
  display: flex;
  position: relative;
  padding-top: 27px;
  padding-bottom: 15px;

  button {
    width: 230px;
    height: 50px;
    border-radius: 87px 0px 150px 87px;
    border: 1px solid $border-gold;
    background: $bg-yellow;
    font-size: 20px;

    &:hover {
      box-shadow: 0 0 3px 2px $border-gold;
    }
  }
}

.gagye-login-img {
  width: 175px;
  height: 155px;
  position: absolute;
  right: -30px;
  bottom: -20px;

  img {
    width: 100%;
  }
}

//home: bottom-box
.bottom-box {
  position: relative;
  padding-bottom: 50px;
}

.home-illu {
  background: rgb(199, 199, 199);
  position: absolute;
  top: 30px;
  right: 0;

  // 임시 크기
  width: 560px;
  height: 450px;
}

// header
.header-container {
  width: 100%;
  max-height: 66px;

  background: $bg-ivory;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "NEXON Lv1 Gothic OTF";
  //font-family: "Binggrae";
}

.logo-box {
  max-width: 130px;
  max-height: 40px;
  margin-bottom: 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.menu-box {
  display: flex;
  align-items: center;
  margin: 10px 30px;

  width: 60%;
  min-width: 410px;
  height: 49px;

  background: white;
  border-radius: 50px;
  border: 1px solid $border-gold;
}

.menu-item {
  display: inline-block;
  margin: 10px;
  width: 25%;
  height: 35px;

  line-height: 41px;
  text-align: center;
  vertical-align: middle;

  font-size: 17px;
  font-weight: bold;
  color: black;

  border-radius: 50px;
  //min-width: 200px;

  &:hover {
    box-shadow: 0 0 3px 1px $border-gold;
  }
}

.fill-item {
  background: #f4d57a;
}

.signup-btn {
  width: 120px;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  padding-top: 5px;
  background: $border-yellow;
  border: 1px solid $border-gold;

  &:hover {
    box-shadow: 0 0 3px 3px $border-gold;
  }

  a {
    color: black;
  }
}
