$bg-ivory: #fef8ee;
$bg-yellow: #fff1a8;
$bg-white: #fffdf9;
$border-gold: #edca62;
$border-yellow: #ffe27c;
$text-brown: #704204;

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Binggrae";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@mixin badge-box() {
  display: inline-block;
  border-radius: 12px;
  padding: 0px 10px;
}
